<p class="text-5xl text-blue-200">Ask your coach anything</p>

<form class="mt-4" action="/answer" method="get" data-turbo="false">
  <input value="<%= @question %>" class="bg-blue-200 p-4 text-3xl" type="text" name="question" placeholder="What should I do today?">
  <input class="bg-blue-400 p-4 text-3xl text-blue-950 cursor-pointer hover:bg-blue-300" type="submit" id="ask" value="Ask!">
</form>
